body {
    margin: 0%;
    padding: 0%;
}

#main-container {
    height: 98vh;
    width: 99.5vw;
    background-image: url("../style/img/pexels-cottonbro-studio-4861355.jpg");
    background-size: cover;
    display: flex;

}


#signup-container {
    height: 80vh;
    width: 30vw;
    border: 2px solid black;
    background-color: rgb(58, 79, 79);
    margin-left: 60%;

}

#signup-container input {
    height: 1.5rem;
    width: 60%;
    margin: 5%;
    margin-left: 19%;

}

#signupBtn {
    height: 1.9rem;
    width: 35%;
    margin: 5%;
    margin-left: 33%;
}

#nav-bar {
    height: 10vh;
    width: 99vw;
    /* border: 2px solid black; */

}

#nav-bar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    list-style-type: none;
    background-color: #ffffff;

}

#nav-bar-list a {
    text-decoration: none;
    color: black;
}

#login-container{
    height: 80vh;
    width: 30vw;
    border: 2px solid black;
    background-color: rgb(58, 79, 79);
    margin-left: 60%;
}

#login-container input {
    height: 1.5rem;
    width: 60%;
    margin: 5%;
    margin-left: 19%;
}

#loginBtn{
    height: 1.9rem;
    width: 35%;
    margin: 5%;
    margin-left: 33%;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

.drop-container{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow:  0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-container a{
    color: black;
    padding: 12px 16px ;
    text-decoration: none;
    display: block;
} 
.drop-container a:hover{
    background-color: #ddd;
}

.dropdown:hover .drop-container{
    display: block;
}

.dropdown:hover .dropbtn{
    color: #3e8e41;
}

.book-dropdown{
    position: relative;
    display: block;
}

.bookbtn{
    background-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

.book-container{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow:  0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;

}

.book-container a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.book-container a:hover{
    background-color: #ddd;
}
.book-dropdown:hover .book-container{
    display: block;
    
}
.book-dropdown:hover .bookbtn{
    color: #3e8e41;
}

.home-dropdown{
    position: relative;
    display: block;
}
.homebtn{
    background-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

.home-container{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.home-container a{
    color: black;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
}

.home-container a:hover{
    background-color: #ddd;
}
.home-dropdown:hover .home-container{
    display: block;
}
.home-dropdown:hover .homebtn{
    color: #3e8e41;

}

#signupbtn:hover a{
    color: #3e8e41;
}
#loginbtn:hover a{
    color: #3e8e41;
}